$color-text: #42567a;
$color-year-left: #5d5fef;
$color-year-right: #ef5da8;
$color-event-year: #3877ee;

$bg-page: #fff;

$fs-title: clamp(20px, 5vw, 36px);
$fs-year: clamp(48px, 14vw, 160px);
$fs-event-year: 16px;
$fs-event-text: 14px;

$radius-circle: 280px;
