@use "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg-page);
  color: var(--color-text);
  font-family: var(--font-family);
}

.page {
  min-height: 100vh;
  display: block;
}
